<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SarajevoGuide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SarajevoGuide.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/">
                    <div class="logo-circle">
                        <img src="https://img.icons8.com/material-outlined/24/FFFFFF/map--v1.png" alt="map" />
                    </div>
                </a>
            </div>
            <div class="navbar-links">
                <a href="/" class="active">Home</a>
                <a href="/Bookmarks">Bookmarks</a>
                <a href="/Admin">Admin</a>
            </div>
            <div class="navbar-account">
                <a href="/Account">Account</a>
                <img src="images/user.png" alt="account" />
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - SarajevoGuide - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
