@model SarajevoGuide.Models.Kupovina

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Kupovina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="datumKupovine" class="control-label"></label>
                <input asp-for="datumKupovine" class="form-control" />
                <span asp-validation-for="datumKupovine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brojUlaznica" class="control-label"></label>
                <input asp-for="brojUlaznica" class="form-control" />
                <span asp-validation-for="brojUlaznica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="korisnikId" class="control-label"></label>
                <input asp-for="korisnikId" class="form-control" />
                <span asp-validation-for="korisnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eventId" class="control-label"></label>
                <input asp-for="eventId" class="form-control" />
                <span asp-validation-for="eventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
