@model SarajevoGuide.Models.Kupovina

@{
    ViewData["Title"] = "Nova kupovina";
    ViewData["HideNavbar"] = true;
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 85vh;">
    <div class="card p-4 shadow-sm rounded-4" style="width: 100%; max-width: 500px; background-color: #ffffff;">
        <h2 class="text-center mb-4 fw-bold" style="color: #e44c3c;">Nova kupovina</h2>

        <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="datumKupovine" class="form-label fw-semibold">Datum kupovine</label>
                <input asp-for="datumKupovine" type="date" class="form-control rounded-3" />
                <span asp-validation-for="datumKupovine" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="brojUlaznica" class="form-label fw-semibold">Broj ulaznica</label>
                <input asp-for="brojUlaznica" class="form-control rounded-3" min="1"/>
                <span asp-validation-for="brojUlaznica" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="korisnikId" class="form-label fw-semibold">Korisnik ID</label>
                <input asp-for="korisnikId" class="form-control rounded-3" />
                <span asp-validation-for="korisnikId" class="text-danger small"></span>
            </div>

            <div class="mb-4">
                <label asp-for="eventId" class="form-label fw-semibold">Event ID</label>
                <input asp-for="eventId" class="form-control rounded-3" />
                <span asp-validation-for="eventId" class="text-danger small"></span>
            </div>

            <div class="d-grid mb-3">
                <button type="submit" class="btn rounded-3 fw-bold" style="background-color: #e44c3c; color: black;">Sačuvaj</button>
            </div>
        </form>

        <div class="text-center">
            <a asp-action="Index" class="text-muted text-decoration-none">⟵ Nazad</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
